
/*first div*/

.first{
   
    background-image: url("../photo_2021-12-30_12-28-09.jpg");
 width: 100%;
 height: 1100px;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-position:left;

}
nav{ 
    padding-top: 50px;
     padding-left: 100px;
    }
nav a{
     text-decoration: none;
       color: rgba(0,0,0,.49);
        font-size: 15px;
         font-family: freight-display-pro;}


nav a:hover{ 
    text-decoration: none;
     color: #3d6870;}


    #logo{
        font-size: 24px;
         padding-right: 20px;
        color: #3d6870;
    }
nav li{list-style-type: none;
        display: inline-block; 
        padding-right:15px ;
     }
     .first div{
         margin-left: 135px;
         margin-top: 125px;
         width: 700px;
         color: #3d6870;
         font-family:freight-display-pro;
         font-weight:200;
         font-size: 72px;
         line-height: 93px;
     }
     .first div span{    font-weight: bold;}

     /*secound div & third div*/
          .one{ margin-top: 250px;}
      .small{
          font-family: freight-pro-sans-serifs;
          font-size: 12px;
          position:relative;
          left: 140px;
           bottom: 420px;
          display: inline-block;
           color: #3d6870;
         width: 450px;
            letter-spacing: 3px;
      }
      .secound p{
          position: relative;
          bottom: 407px;}
      .pig{
          display:inline-block;
          color: rgba(61,104,112,.6);
         font-size: 40px;
         width: 610px;
         line-height: 58px;
    
        }
        .secound{height: 1600px;}
        .two{ margin-top: 200px;}
        .third{
             background-color:#97adb2 ;
            padding-top: 150px;
           
             width: 101%;
             margin-left:-9px ;
            }
           
        .third .small{ position: relative;
                          bottom: 1330px;}
        .third span{ font-size: 12px;}                  
        
        /*form*/
        form{
            width:80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            padding-top: 50px;
            padding-left: 170px;
            padding-right: 50px;
           
            background-color:rgba(122,125,127,.1);


        }
        input{ border: 1px solid rgba(0,0,0,.12);
         width: 250px;
        height: 50px;
        color: #272727;
       padding-left:15px ;
       margin-right: 6px;
        font-size: 14px;
        outline: rgba(0,0,0,.12);
    }
    
        button{ 
            width: 113px;
            height: 50px;
            font-size: 12px;
            background-color: #3d6870;
            border: #3d6870;
            color: white;
           
        }
        button:hover{ background-color: #61777b;}
        form h2{ color: #7a7d7f;
                 font-family: freight-display-pro;
                margin-left: 150px;
                height:50px ;
            }
            form p{
                color: rgba(61,104,112,.8);
                margin-left: 270px;
                height: 50px;
                font-size: 15px;
            }

            /* footer*/
            footer{width: 80%;   margin-left: auto; margin-right: auto; margin-top: 130px;
                  color: #7a7d7f; font-size: 12px; line-height: 11px;  letter-spacing: 1px;  font-family: freight-sans-pro; margin-bottom: 40px;}


                  .section1{ display: inline-block;}


                  .section2{
                      display: inline-block;
                      margin-left: 50px;}


            .section2 a{  color:#7a7d7f ;
                text-decoration: underline;
               letter-spacing: 1px;}
            .section3{
                 display: inline-block;   
                margin-left: 82%;  
               position: relative;
               bottom: 150px;
               letter-spacing: 2px;
            }
            .section3 a{text-decoration: underline; color:#7a7d7f ; }