nav{ 
    padding-top: 20px;
     padding-left: 100px;
    }
nav a{
     text-decoration: none;
     color: rgba(0,0,0,.49);
     font-size: 15px;
     font-family: freight-display-pro;
    }
    nav a:hover{ 
        text-decoration: none;
         color: #3d6870;}

 #logo{
        font-size: 24px;
         padding-right: 20px;
        color: #3d6870;
    }
nav li{
    list-style-type: none;
        display: inline-block; 
        padding-right:15px ;
     }

 
.title{
    margin-left: 135px;
    margin-top: 125px;
    color:#3d6870 ;
    line-height: 90px ;

}
.title p{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif ;
}
.title p span {
    font-weight: bold;
    font-size: 52px ;
}


.ph1{
    background-image: url("../JessieWebster_Treehouse_25.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 150vh;
    
}
.ph1 div{
    padding-left: 200px;
    padding-top:565px ;
    position: relative;
    font-family: 'Lucida Console','CourierNew', monospace;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    background-attachment: flex;
}

.ph2{
    background-image: url("../JessieWebster_Lifestyle_36.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 150vh;
    
}
.ph2 div{
    padding-left: 200px;
     padding-top:565px ;
    position: relative;
    font-family: 'Lucida Console','CourierNew', monospace;
    font-size: 20px;
     color: #fff;
     line-height: 60px;
     background-attachment: flex;
}
.ph3{
    background-image: url("../JessieWebster_HM_09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 150vh;
    
}
.ph3 div{
     padding-left: 200px;
     padding-top:565px ;
    position: relative;
    font-family: 'Lucida Console','CourierNew', monospace;
    font-size: 20px;
    color: #fff;
     line-height: 60px;
     background-attachment: flex;
}
.ph4{
    background-image: url("../JessieWebster_Squarespace_28.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:auto;
    height: 150vh;
   
}
.ph4 div{
     padding-left:200px;
     padding-top: 565px;
    position: relative;
    font-family: 'Lucida Console','CourierNew', monospace;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    background-attachment: flex;
}
.word span{
    font-size: 10px;
    font-family:'Times New Roman', Times, serif ;
    letter-spacing: 3px;
}
 .word a{
    background-color:#fff;
    
     cursor: pointer;
     position: relative;
} 
.word button{
    background-color: #fff; 
    border: none;
    color: #3d6870;
     padding: 23px 35px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    letter-spacing: 3px;
}
.word a:hover{ background-color: #fff; opacity: 0.8;  }
/* ================================ */
form{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-top: 30px;
    padding-left: 107px;
    padding-right: 10px;
    height: 248px;
    background-color:rgba(122,125,127,.1);


}
input{ border: 1px solid rgba(0,0,0,.12);
 width: 197px;
height: 42px;
color: #272727;
padding-left:15px ;
margin-right: 6px;
font-size: 14px;
outline: rgba(0,0,0,.12);
}

 form button{ 
    width: 113px;
    height: 50px;
    font-size: 12px;
    background-color: #3d6870;
    border: #3d6870;
    color: white;
   
}
 form button:hover{ background-color: #61777b;}
form h2{ 
     color: #7a7d7f;
     font-family: freight-display-pro;
     margin-left: 224px;
     height:30px ;
    }
    form p{
        color: rgba(61,104,112,.8);
        margin-left: 311px;
        height: 41px;
        font-size: 15px;
    }

    /* footer*/
    footer{
         width: 80%;  
         margin-left: auto;
         margin-right: auto; 
         margin-top: 130px;
         color: #7a7d7f;
         font-size: 12px; 
         line-height: 11px;  
         letter-spacing: 1px; 
         font-family: freight-sans-pro; 
         margin-bottom: 40px;}


          .section1{ display: inline-block;}
          .section2{ display: inline-block; margin-left: 50px;}


    .section2 a{ 
         color:#7a7d7f ;
         text-decoration: underline;
         letter-spacing: 1px;}
    .section3{
         display: inline-block;   
         margin-left: 80%;  
         position: relative;
         bottom: 150px;
         letter-spacing: 2px;
    }
    .section3 a{text-decoration: underline; color:#7a7d7f ; }
