#first .manar{
  display: inline-block ;
   width: 20%;
   position: relative;
   bottom: 388px;
 margin-left: 135px;
}
#first .mmanar{ display: inline-block;  width: 38%;}

nav{ 
  padding-top: 50px;
   padding-left: 100px;
   margin-bottom: 150px;
  }
nav a{
   text-decoration: none;
     color: rgba(0,0,0,.49);
      font-size: 15px;
       font-family: freight-display-pro;}


nav a:hover{ 
  text-decoration: none;
   color: #3d6870;}


  #logo{
      font-size: 24px;
       padding-right: 20px;
      color: #3d6870;
  }
nav li{list-style-type: none;
      display: inline-block; 
      padding-right:15px ;
   }
    /*form*/
    form{
      width:80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      padding-top: 50px;
      padding-left: 170px;
      padding-right: 50px;
     height: 290px;
      background-color:rgba(122,125,127,.1);


  }
  input{ border: 1px solid rgba(0,0,0,.12);
   width: 250px;
  height: 50px;
  color: #272727;
 padding-left:15px ;
 margin-right: 6px;
  font-size: 14px;
  outline: rgba(0,0,0,.12);
}

  button{ 
      width: 113px;
      height: 50px;
      font-size: 12px;
      background-color: #3d6870;
      border: #3d6870;
      color: white;
     
  }
  button:hover{ background-color: #61777b;}
  form h2{ color: #7a7d7f;
           font-family: freight-display-pro;
          margin-left: 150px;
          height:50px ;
      }
      form p{
          color: rgba(61,104,112,.8);
          margin-left: 270px;
          height: 50px;
          font-size: 15px;
      }

      /* footer*/
      footer{width: 80%;   margin-left: auto; margin-right: auto; margin-top: 130px;
            color: #7a7d7f; font-size: 12px; line-height: 11px;  letter-spacing: 1px;  font-family: freight-sans-pro; margin-bottom: 40px;}


            .section1{ display: inline-block;}


            .section2{
                display: inline-block;
                margin-left: 50px;}


      .section2 a{  color:#7a7d7f ;
          text-decoration: underline;
         letter-spacing: 1px;}
      .section3{
           display: inline-block;   
          margin-left: 82%;  
         position: relative;
         bottom: 150px;
         letter-spacing: 2px;
      }
      .section3 a{text-decoration: underline; color:#7a7d7f ; }
